@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-menu-item {
  @apply bg-inherit active:font-bold;
}

.ant-input {
  @apply font-default !important;
}

.ant-input-number-input {
  @apply font-default !important;
}

table {
  @apply font-default;
}

.ant-btn-primary {
  @apply font-default bg-light-blue;
}

.ant-btn {
  @apply font-default;
}

.ant-table-row:first-child {
  @apply ps-4 !important;
}

.ant-select-item-option {
  @apply font-default text-lg;
}

.ant-card-body {
  @apply py-3 w-full !important;
}

.ant-statistic-content {
  @apply flex;
}

.ant-statistic-content-prefix {
  @apply flex items-center !important;
}

.ant-statistic-content-prefix svg {
  @apply align-middle inline-block !important;
}

.ant-tabs-tab {
  @apply font-default text-sm !important;
}

.ant-menu-overflow-item,
.ant-menu-submenu-title {
  @apply flex items-center !important;
}

.ant-menu-overflow:first-child {
  @apply hover:border-0 !important;
}

.ant-menu-item:first-child::after {
  @apply border-b-0 !important;
}

.ant-menu-item:first-child::after {
  @apply border-b-0 !important;
}

.internship-description ul {
  @apply list-disc mx-8;
}

.internship-description ol {
  @apply list-decimal mx-8;
}

/* styles/RichTextEditor.css */
.custom-quill-editor {
  font-family: "Montserrat", sans-serif; /* Set your desired font */
}

.custom-quill-editor .ql-editor {
  height: 100%;
  overflow-y: auto;
  font-family: "Montserrat", sans-serif; /* Ensure font applies to the editor content */
  @apply text-base;
}

.custom-placeholder .ant-select-selection-placeholder {
  @apply font-default text-black text-sm;
}

.custom-select .ant-select-selection-item {
  @apply text-sm; /* Change the font size */
}

.ant-avatar-image img {
  @apply object-center object-cover !important;
}
